body {
    background-color: white;
}

#presentacion {
    width: 300%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url("assets/imagenfondo.gif");
    background-size: 1300px;
    background-repeat: no-repeat;
    background-position: center;
}

#creative{
    font-size: 100px;
}

.flex-lg-row {
    flex-direction: ROW;
    justify-content: center;
}

.p-5 {
    padding: 10rem !important;
}

.rounded {
    height: 50px;
    width: 50px;
}

.titulos {
    margin-top: 50px;
}

.borde {
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
