body {
    background-color: white;
}

#presentacion {
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

#creative{
    font-size: 100px;
}

.flex-lg-row {
    flex-direction: ROW;
    justify-content: center;
}

.p-5 {
    padding: 10rem !important;
}

